
// set your Dark colors here
$siteBgColorDark: #002b36;
$sidebarBgColorDark: #586E75;
$textColorDark: #eee8d5;
$sidebarTextColorDark: #FDF6E3;

$headlineColorDark: #F78C6B;
$headingColorDark: #F0BCD5;

$bodyLinkColorDark: #F0BCD5;
$navLinkColorDark: #F0BCD5;
$sidebarLinkColorDark: #2AA198;

$footerTextColorDark: #FDF6E3;

$buttonTextColorDark: #073642;
$buttonHoverTextColorDark: #073642;
$buttonBgColorDark: #F0BCD5;
$buttonHoverBgColorDark: #0AB594;
$borderColorDark: #0AB594;




// set your custom colors here
$siteBgColorCustom: #ffffff;
$sidebarBgColorCustom: #F8F9FA;
$textColorCustom: #666260;
$sidebarTextColorCustom: #495057;

$headlineColorCustom: #343A40;
$headingColorCustom: #212529;

$bodyLinkColorCustom: #6F777F;
$navLinkColorCustom: #495057;
$sidebarLinkColorCustom: #495057;

$footerTextColorCustom: #6F777F;

$buttonTextColorCustom: #F8F9FA;
$buttonHoverTextColorCustom: #ffffff;
$buttonBgColorCustom: #404040;
$buttonHoverBgColorCustom: #121417;
$borderColorCustom: #DEE2E6;
